# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

./CAPTURE_analysis/
./CAPTURE_data/

*.mat
*.sh
*.out
*.p
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.csv
*.txt
*.mat

*.mp4
*.yaml
*.png
*.pyc
*./dappy/__pycache__/

!/tutorials/
/tutorials/*
!/tutorials/tutorial.ipynb

/dappy/wandb/
/dappy/models/
/dappy/artifcats/

!configs/param_configs/fitsne.yaml
!configs/path_configs/example_path.yaml

*.egg-info

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
