# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

*.sh
*.out
*.p
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.csv
*.txt
*.mat

*.h5
*.mp4
*.yaml
*.png
*.pyc
*./src/neuroposelib/__pycache__/
/.vscode/


/tutorials/*
!/tutorials/tutorial.ipynb
!/tutorials/automated_pipeline.py
!/tutorials/set_up.ipynb
/configs/*
!/configs/tutorial.yaml
!/configs/skeletons/demo_mouse.yaml
!/configs/skeletons/

/tutorials/results/*
/tutorials/data/*
!/tutorials/results/
!/tutorials/data/
# !tutorials/data/demo_meta.csv
*.egg-info

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
