# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

*.sh
*.out
*.p
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.csv
*.txt
*.mat

*.h5
*.mp4
*.yaml
*.png
*.pyc
*./dappy/__pycache__/

!/data/demo_meta.csv
!/tutorials/
/tutorials/*
!/tutorials/tutorial.ipynb
!/tutorials/automated_pipeline.py
/configs/*
/configs/param_configs/
/configs/param_configs/*
!/configs/tutorial.yaml

/dappy/wandb/
/dappy/models/
/dappy/artifcats/

/results/*
*.egg-info

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
